html {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 0.4s ease;
}

a:hover {
    color: orange;
}

.additional_task {
    font-size: 0.8rem;
}

@keyframes animatedCounter {

    0% {
        opacity: 0;
        scale: 0.1;
    }

    30% {
        opacity: 1;
        scale: 1;
    }

    70% {
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 0;
        scale: 1.9;
    }
}

.animatedCounter {
    animation: animatedCounter 1s ease-in-out;
}

button {
    background: none;
    border: none;
}


.backBtnHover {
    background: rgb(223, 181, 14);
    background: linear-gradient(90deg, rgba(223, 181, 14, 1) 11%, rgba(255, 234, 0, 0) 100%);
    transition: 1s;
    opacity: 0;
}

.backBtnHover:hover {
    opacity: 1;
}

.frwrdBtnHover {
    background: rgb(223, 181, 14);
    background: linear-gradient(-90deg, rgba(223, 181, 14, 1) 11%, rgba(255, 234, 0, 0) 100%);
    transition: 1s;
    opacity: 0
}

.frwrdBtnHover:hover {
    opacity: 1;
}

.modWinBg {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modWin {
    min-width: 300px;
    max-width: 400px;
    position: absolute;
}